body{
    margin: 0;
}
a {
    text-decoration: none;
}
.pg-header{
    height: 44px;
    background-color: #2459a2;
}
.header-menu{
    float: left;
}
.digg-logo {
    width: 121px;
    height: 23px;
    background: url("/static/images/logo.png") no-repeat 0 0;
    float: left;
    margin-top: 11px;
}
a.tb {
    color: #c0cddf;
    margin-left: -3px;
    padding: 0 13px 0 16px;
    display: inline-block;
    line-height: 44px;
    vertical-align: 1px\9;
}
a.tb:hover {
    color: #fff;
    background-color: #204982;
}
a.active {
    color: #fff;
    background-color: #204982;
}
.hide {
   display: none;
}
.left{
    float: left;
}
.right{
    float: right;
}