{% extends 'master/layout.html' %}

{% block css %}
    <style>
        .part4{
            background-color: #f6f6f6;
        }
        .left{
            float: left;
            width: 1200px;
            height: 900px;
            margin-left: 45px;
        }
        .msgleft{
            float: left;

        }

        .right{
            float: right;
            width: 600px;
            height: 800px;
            margin-right: 45px;
        }
        .hide {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="">
        <div class="left">
            <div>
                {% for item in data %}
                <div>
                    <div>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </div>
                    <div>
                        {{ item.summary }}
                    </div>
                    <div>
                        <a href="#" onclick="Favor(this,{{ item.id }});">赞{{ item.favor_count }}</a>
                        <!--<a href="#" onclick="Reply('#reply_detail',{{ item.id }});">评论{{ item.reply_count }}</a>
                        -->
                        <a class="reply" href="#" onclick="Reply(this,{{ item.id }});">评论{{ item.reply_count }}</a>
                        <span>{{ item.create_date|date:"Y-m-d H:i:s" }}</span>
                    </div>
                    <div has-input="0" class='part4 hide' >
                        <div class="replys"></div>
                        <div class="input">
                            <label>请输入回复内容：</label><textarea></textarea>
                            <input type="button" value="提交" onclick="Submit(this,{{ item.id }});" />
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="right">
            <div>新热榜 v0.1</div>
            <div id="chatpool" class="content"></div>
            <div class="bottom clearfix">
                <div class="msgleft msg">
                    <textarea id="message" class="text"></textarea>
                </div>
                <div class="msgleft submit">
                    <input type="button" class="btn" onclick="SendMsg();" value="发送" />
                </div>
            </div>
        </div>
    </div>

<!--遮罩层开始-->
    <div id="shade" class="shade hide"></div>
<!--遮罩层结束-->

<!--加载层开始-->
    <div id="loading" class="loading hide"></div>
<!--加载层结束-->

{% endblock %}

{% block js %}
    <script type="application/javascript">
        function Favor(doc,id){
            $.ajax({
                url:'/addfavor/',
                data:{nid:id},
                type:'POST',
                success:function(callback){
                    var obj = jQuery.parseJSON(callback);
                    if(obj.status==1){
                        var temp = '赞' + obj.data;
                        $(doc).text(temp);
                    }else{
                        alert(obj.message);
                    }


                }
            });

            //后台数据点赞+1
        }

        function Reply(doc,id){

            $.ajax({
                url:'/getreply/',
                data:{nid:id},
                type:'POST',
                success:function(callback){
                    var obj = jQuery.parseJSON(callback);
                    $(doc).parent().next().find('.replys').empty();
                    //console.log(callback);
                    $.each(obj,function(k,v){
                        //$(doc).parent().next().first();
                        temp = "<div>"+ v.user__username+":"+ v.content+"---"+ v.create_date+"</div>";

                        $(doc).parent().next().find('.replys').append(temp);
                    });
                }
            });

            //$(content).removeClass('hide');
            $(doc).parent().next().toggleClass('hide');
            /*
            if($(content).attr('has-input')==0){
                $(content).append("");
                $(content).attr('has-input',1);
            }*/

        }

        function Submit(doc,id){
            var value = $(doc).prev().val();
            $(doc).prev().val('');
            $("#shade,#loading").removeClass('hide');
            $.ajax({
                url:'/submitreply/',
                data:{nid:id,data:value},
                type:'POST',
                success:function(callback){
                    console.log(callback);
                    callback = jQuery.parseJSON(callback);
                    if(callback.status==1){
                        //报数据append到回复列表
                        temp = "<div>"+ callback.data.user__username+":"+ callback.data.content+"---"+ callback.data.create_date+"</div>";
                        $(doc).parent().prev().append(temp);
                        count = '评论'+callback.data.reply_count;
                        $(doc).parent().parent().prev().find('.reply').text(count);
                        //alert('seccess');
                    }else{
                        alert('操作失败.');
                    }
                    $("#shade,#loading").addClass('hide');
                }
            });
        }

        function SendMsg(){
            var value = $('#message').val();
            $('#message').val('');
            $.ajax({
                url:'/submitchat/',
                data:{data:value},
                type:'POST',
                success:function(callback){
                    var callback = jQuery.parseJSON(callback);
                    if(callback.status == 1){
                        var now = callback.data.create_date;
                        var name = callback.data.username;
                        var template = "<div><div>"+name+"--"+now+"</div><div>"+value+"</div></div>";
                        $('#chatpool').append(template);
                        window.last_id = callback.data.id;
                    }else{
                        alert('请求异常');
                    }
                    //console.log(callback);
                }
            });
        }
/*
        setInterval('going()',2000);//定时器
        window.i = 1;
        function going(){
            window.i = window.i + 1;
            console.log(window.i);

        }*/

        setInterval('going()',2000);//定时器
        window.is_first = true;
        function going(){
            if(window.is_first){
                $.ajax({
                    url:'/getchart/',
                    type:'POST',
                    success:function(callback){
                        //console.log(callback);
                        callback = jQuery.parseJSON(callback);
                        window.last_id = callback[0].id;
                        //console.log(last_id);
                        callback = callback.reverse();
                        $.each(callback,function(k,v){
                            var now = v.create_date;
                            var name = v.user__username;
                            var value = v.content;
                            var template = "<div><div>"+name+"--"+now+"</div><div>"+value+"</div></div>";
                            $('#chatpool').append(template);
                        });
                        window.is_first = false;
                    }
                });
            }else{
                $.ajax({
                    url:'/getchart2/',
                    data:{lastid:window.last_id},
                    type:'POST',
                    success:function(callback){
                        callback = jQuery.parseJSON(callback);
                        if(callback.length > 0) {

                            window.last_id = callback[callback.length - 1].id;
                            $.each(callback, function (k, v) {
                                var now = v.create_date;
                                var name = v.user__username;
                                var value = v.content;
                                var template = "<div><div>" + name + "--" + now + "</div><div>" + value + "</div></div>";
                                $('#chatpool').append(template);
                            });
                        }
                    }
                });
            }

        }
    </script>
{% endblock %}